.fc-button {
    background-color: var(--secondary) !important;
    color: black !important;
    border-color:var(--primary) !important ;
}

.fc-button-active {
    background-color: var(--primary) !important;
}

.fc-timegrid-event {
    max-width: 200px;
}

.fc-event {
    border-color:var(--primary) !important ;
}