.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
    border-radius: 50px;
    background-color: #EBFDFF;
}

.menu-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /*gap: 0.5rem;*/
    font-size: var(--body1);
    padding-block: 6px;
    padding-inline: 20px;
    cursor: pointer;
}

.active-item {
    background-color: var(--primary);
    /*padding-inline: 20px;*/
    border-radius: 50px;
    color: white;

    a {
        color: white;
    }
}
